.bash_history
.lesshst
.mysql_history
.wget-hsts
yes 
yes.pub 

.ansible/ 
.bundle/ 
.cache/
.dotnet/ 
.xbuild/

.config/ 
.vscode-server/ 

.gitconfig 
.profile 
.ssh/ 

backup/ 

.xbuild/

.git

go

.local

